body {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

nav {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 153px;
  box-shadow: 0 -1px 0 0 #EAEAEA inset;
}

.logo {
  width: 41px;
  height: 43px;
  padding-left: 48px;
}

.linkText {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: #ff5a60;
  text-decoration: none;
}

#seccionMenu {
  width: 80%;
  height: 87px;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#linkHowToFuntion {
  padding: 10px 32px;
  border-radius: 4px;
  width: 163px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
